body {
   background-color: rgb(255, 255, 255);
}

h1 {
   text-align: center;
   background-color: rgb(134, 180, 205);
}

a {
   color: rgb(0, 0, 0);
}

#table-of-contents {
   border: solid;
   border-color: rgb(0, 0, 0);
   border-width: 5px;
   border-radius: 5px;
   width: 500px;
   position: relative;
   left: 50%;
   transform: translate(-50%, 0%);
   padding: 10px;
   background-color: rgb(108, 108, 108);
   font-weight: bold;
}

#table-of-contents-header {
   text-align: center;
   font-size: 50px;
}

#table-of-contents-data {
   position: relative;
   left: 75%;
   transform: translate(-50%, 0%);
   font-size: 20px;
}
